
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/still.css" rel="stylesheet" />
    <title>Contact</title>
</head>
<body>
    <div>
        @Html.ActionLink("anasayfa", "Index") |
        @Html.ActionLink("hakkımızda", "About") |
        @Html.ActionLink("araçlar", "Index", "vehicle") |
        @Html.ActionLink("iletişim", "Contact") |
        @Html.ActionLink("referanslar", "Referance")
        <h4>İLETİŞİM</h4>
    </div>
</body>
</html>
